[core]
	excludesfile = ~/.dotfiles/.gitignore.global
	editor = /usr/bin/vim
[user]
	name = José Carlos Chávez
	email = jcchavezs@gmail.com
[alias]
	recent = !git for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) (%(color:green)%(committerdate:relative)%(color:reset))'
	pr = !open `git config remote.origin.url`/compare/$(git rev-parse --abbrev-ref HEAD)
	# see http://weiqingtoh.github.io/force-with-lease/
	pushf = push --force-with-lease
[diff]
	noprefix = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
